body {
  font-size: 12px;
	background-color: white;
}   
#title{
  text-align:center;
  font-weight:bold;
}   
#btnContainer{
  text-align:center;
	padding-bottom:10px;
}
ul{ 
  list-style:none;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-top:0px;
  margin:0px;
	border: 1px solid #e8e8e8;
}   
li div { 
  text-align:right; 
}   
li div span { 
  float:left; 
}   

li:nth-child(odd) {
	background-color: #e8e8e8;
}

li:nth-child(even) {
	background-color: white;
}
