body {
  font-size: 12px;
}   
#title{
  text-align:center;
  font-weight:bold;
}   
#btnContainer{
  text-align:center;
}
ul{ 
  list-style:none;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-top:10px;
  margin:0px;
}   
li div { 
  text-align:right; 
}   
li div span { 
  float:left; 
}   

